* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.main_container {
  display: flex;
  flex-direction: row;
  -border: 1px solid #ff0000;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 1;

  background-image: url("/home/filip/repos/sign-up_form/assets/photo-1585202900225-6d3ac20a6962.avif");
  background-size: cover;
  height: 100vh;
  position: relative;
}
.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

@font-face {
  font-family: odin_font;
  src: url(/home/filip/repos/sign-up_form/fonts/Norse-Bold.otf);
}

.strip {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 150px;
  height: calc(40px + 5vw);
  align-items: center;
}
.logo img {
  height: calc(35px + 5vw);
}
.logo_text {
  font-family: odin_font;
  font-size: calc(35px + 5vw);
  color: white;
}
.reference {
  color: white;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  text-decoration-color: white;
  font-size: calc(12px);
  text-wrap: nowrap;
}
.reference a {
  color: white;
}

.intro-text {
  height: calc(150px + calc(40px + 5vw));
  -border: 1px solid #ff0000;
  background-color: #f9fafb;
  padding: 100px 0 0 46px;
  font-weight: 600;
  font-size: 18px;
}
.second-par {
  margin-top: 16px;
}
.form-h3 {
  padding-bottom: 16px;
}
.form-h3,
.main-form {
  padding: 16px 0px 16px 46px;
  background-color: #ffffff;
}
.main-form {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
form {
  padding: 16px 0 16px;
}

.create-btn {
  padding-left: 46px;
  padding-top: 32px;
}

button {
  background-color: #596d48;
  color: white;
  -width: 150px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  padding: 10px 40px;
}

.log-in {
  padding-left: 46px;
  padding-top: 32px;
  font-size: 16px;
}
.log-in a {
  color: #596d48;
  font-weight: 400;
  font-weight: bold;
  text-decoration: none;
}

div label {
  text-transform: capitalize;
}

.log-in_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  margin-bottom: 10px;
}

.form-input {
  flex: 0 0 calc(50% - 10px); /* Two inputs per row with spacing in between */
  margin-right: 10px;
  display: flex;
  flex-direction: column; /* Display label above input */
  max-width: 250px;
}

label {
  margin-bottom: 0; /* Add spacing between label and input */
  font-size: 0.7rem;
  font-weight: 400;
}

input {
  width: 250px; /* Make all inputs the same width */
  padding: 5px; /* Add some padding for spacing */
  border: 1px solid #e5e7eb;
  border-radius: 3px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .input-row {
    flex-direction: column; /* One input per row on small screens */
  }

  .form-input {
    flex: 0 0 100%; /* One input per row on small screens */
    margin-right: 0;
  }
}

input:focus {
  outline: none;
  border-color: rgb(27, 117, 242);
  box-shadow: 0 0 5px rgba(7, 8, 8, 0.7);
}
